body {
  background-color: #fefefe;
  color: #111;
  margin: 0;
  padding: 0;

  width: 800px;
  /*min-width: 100%;*/
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

html, input, button, select {
  font-size: 16.5px;
  font-family: monospace;
}

a, a:visited {
  color: #3234fe
}

h1, h2, header > img {
  display: inline-block;
  border-bottom-color: #3234fe;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

select {
  width: 100%;
}

button {
  background: #3234fe;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  padding: 0.3em 0.5em;
  display: inline-block;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

button:hover {
  background: #f74134;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sections > * {
  width: 100%;
  padding: 1em;
}

.section-footer {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.section-footer > * {
  margin-left: 1em;
}

#form-collections {
  height: 10em;
  overflow: scroll;
}

#form-collections label {
  margin-left: 0.5em;
}

.form-collections-map-count {
  padding-left: 0.5em;
  color: #3234fe;
}

#map-container {
  width: 100%;
  height: 400px;
  position: relative;
}

#map-container > * {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.map-crosshair {
  z-index: 999;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-crosshair img {
  width: 150px;
}

fieldset {
  border: none;
}

fieldset, .CodeMirror {
  background-color: #f6f8fa;
}

#results .result-values {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#results li img {
  width: 100%;
}
